# Inicidencia de accidentes de tránsito en Bucaramanga
### Entre 1 de enero de 2012 y 31 de agosto de 2021

* ¿Qué tipo de vehículo reporta el mayor número de accidentes?
* ¿Qué tipo de vehículo reporta el mayor número de víctimas mortales?
* ¿Qué día de la semana y en qué franja de horario se presenta el mayor número de accidentes?

Importamos las herramientas de manejo de información necesarias para manejar la información y dar respuesta a nuestras preguntas.
Nuestras librerías son:

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
pd.__version__

'1.4.0'

In [2]:
raw = pd.read_csv('db/bucaramanga_transito_accidentes.csv')
raw.head(10)

,ORDEN,FECHA,AÑO,MES,DÍA,GRAVEDAD,PEATON,AUTOMOVIL,CAMPAERO,CAMIONETA,...,BICICLETA,OTRO,VIA 1,BARRIO,HORA,ENTIDAD,nombrecomuna,Propietario de Vehículo,DIURNIO/NOCTURNO,HORA RESTRICCION MOTO
0,1,2012-01-01T00:00:00.000,2012,01. Enero,07. Domingo,Con Heridos,0,1,0,0,...,0,0,CALLE,MUTIS,1899-12-31T12:15:00.000,AGENTES DTB,17 Mutis,Particular,Diurno,No aplica
1,2,2012-01-01T00:00:00.000,2012,01. Enero,07. Domingo,Solo Daños,0,1,0,1,...,0,0,VIA MATANZA,REGADEROS NORTE,1899-12-31T14:00:00.000,AGENTES DTB,2 Nororiental,Empresa,Diurno,No aplica
2,3,2012-01-01T00:00:00.000,2012,01. Enero,07. Domingo,Solo Daños,0,0,0,1,...,0,0,CARRERA,CABECERA DEL LLANO,1899-12-31T12:00:00.000,AGENTES DTB,12 Cabecera del Llano,Particular,Diurno,No aplica
3,4,2012-01-01T00:00:00.000,2012,01. Enero,07. Domingo,Solo Daños,0,1,0,1,...,0,0,CARRERA,NORTE BAJO,1899-12-31T18:30:00.000,AGENTES DTB,3 San Francisco,Particular,Nocturno,No aplica
4,5,2012-01-01T00:00:00.000,2012,01. Enero,07. Domingo,Con Heridos,1,0,0,0,...,0,0,CARRERA,DANGOND,1899-12-31T00:30:00.000,AGENTES DTB,11 Sur Occidente,Particular,Nocturno,En restricción
5,6,2012-01-01T00:00:00.000,2012,01. Enero,07. Domingo,Solo Daños,0,1,0,0,...,0,0,CALLE,SAN MIGUEL,1899-12-31T21:10:00.000,AGENTES DTB,6 La Concordia,Particular,Nocturno,Sin restricción
6,7,2012-01-02T00:00:00.000,2012,01. Enero,01. Lunes,Con Heridos,1,0,0,0,...,0,0,CARRERA,LA PEDREGOSA,1899-12-31T13:50:00.000,AGENTES DTB,9 La Pedregosa,Empresa,Diurno,No aplica
7,8,2012-01-02T00:00:00.000,2012,01. Enero,01. Lunes,Solo Daños,0,0,0,2,...,0,0,TRANSVERSAL METROPOLITANA,BUCARAMANGA,1899-12-31T19:20:00.000,AGENTES DTB,8 Sur Occidente,Particular,Nocturno,No aplica
8,9,2012-01-02T00:00:00.000,2012,01. Enero,01. Lunes,Solo Daños,0,1,0,0,...,0,1,CARRERA,REGADEROS NORTE,1899-12-31T12:00:00.000,AGENTES DTB,2 Nororiental,Empresa,Diurno,No aplica
9,10,2012-01-02T00:00:00.000,2012,01. Enero,01. Lunes,Con Heridos,0,1,0,0,...,0,0,CARRERA,TEJAR NORTE,1899-12-31T16:35:00.000,AGENTES DTB,1 Norte,Particular,Diurno,No aplica

In [3]:
raw.drop(['ORDEN'], axis=1 ,inplace=True)
raw.tail(5)

,FECHA,AÑO,MES,DÍA,GRAVEDAD,PEATON,AUTOMOVIL,CAMPAERO,CAMIONETA,MICRO,...,BICICLETA,OTRO,VIA 1,BARRIO,HORA,ENTIDAD,nombrecomuna,Propietario de Vehículo,DIURNIO/NOCTURNO,HORA RESTRICCION MOTO
34748,2021-08-31T00:00:00.000,2021,08. Agosto,02. Martes,SOLO DAÑOS,0,2,0,0,0,...,0,0,CARRERA,LA AURORA,1899-12-31T07:40:00.000,AGENTES DTB,0 AGENTES DTB,Particular,Diurno,Sin restricción
34749,2021-08-31T00:00:00.000,2021,08. Agosto,02. Martes,CON HERIDOS,1,0,0,0,0,...,0,0,DIAGONAL 15,LA CONCORDIA,1899-12-31T10:30:00.000,AGENTES DTB,1 AGENTES DTB,Particular,Diurno,Sin restricción
34750,2021-08-31T00:00:00.000,2021,08. Agosto,02. Martes,SOLO DAÑOS,0,2,0,0,0,...,0,0,CALLE,LA AURORA,1899-12-31T12:30:00.000,AGENTES DTB,0 AGENTES DTB,Particular,Diurno,Sin restricción
34751,2021-08-31T00:00:00.000,2021,08. Agosto,02. Martes,CON HERIDOS,0,0,0,0,0,...,0,0,CALLE,ALFONSO LOPEZ,1899-12-31T13:20:00.000,AGENTES DTB,2 AGENTES DTB,Particular,Diurno,Sin restricción
34752,2021-08-31T00:00:00.000,2021,08. Agosto,02. Martes,CON HERIDOS,0,0,0,0,0,...,0,0,CARRERA,LA CONCORDIA,1899-12-31T20:50:00.000,AGENTES DTB,2 AGENTES DTB,Particular,Nocturno,Sin restricción

In [4]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34753 entries, 0 to 34752
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FECHA                    34753 non-null  object
 1   AÑO                      34753 non-null  int64
 2   MES                      34753 non-null  object
 3   DÍA                      34753 non-null  object
 4   GRAVEDAD                 34753 non-null  object
 5   PEATON                   34753 non-null  int64
 6   AUTOMOVIL                34753 non-null  int64
 7   CAMPAERO                 34753 non-null  int64
 8   CAMIONETA                34753 non-null  int64
 9   MICRO                    34753 non-null  int64
 10  BUSETA                   34753 non-null  int64
 11  BUS                      34753 non-null  int64
 12  CAMION                   34753 non-null  int64
 13  VOLQUETA                 34753 non-null  int64
 14  MOTO                     34753 non-null  int64
 15  BICICLETA                34753 non-null  int64
 16  OTRO                     34753 non-null  int64
 17  VIA 1                    34753 non-null  object
 18  BARRIO                   34436 non-null  object
 19  HORA                     34752 non-null  object
 20  ENTIDAD                  34510 non-null  object
 21  nombrecomuna             34753 non-null  object
 22  Propietario de Vehículo  34753 non-null  object
 23  DIURNIO/NOCTURNO         34753 non-null  object
 24  HORA RESTRICCION MOTO    34753 non-null  object
dtypes: int64(13), object(12)
memory usage: 6.6+ MB

In [5]:
raw['AÑO'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

## Corregir categorías de día

In [6]:
raw['DÍA'].unique()

array(['07. Domingo', '01. Lunes', '02. Martes', '03. Miércoles',
       '04. Jueves', '05. Viernes', '06. Sábado', '05. 05. Viernes'],
      dtype=object)

In [7]:
def conv_dia(x):
    if x == "05. 05. Viernes":
        return "05. Viernes"
    else:
        return x

In [8]:
raw['DÍA'] = raw['DÍA'].apply(conv_dia)
raw['DÍA'].unique()

array(['07. Domingo', '01. Lunes', '02. Martes', '03. Miércoles',
       '04. Jueves', '05. Viernes', '06. Sábado'], dtype=object)

### Corregir Categoría Gravedad

In [9]:
def corr_cat_grav(x):
    return x.upper()

In [10]:
raw['GRAVEDAD'] = raw['GRAVEDAD'].apply(corr_cat_grav)
raw['GRAVEDAD'].unique()

array(['CON HERIDOS', 'SOLO DAÑOS', 'CON MUERTOS'], dtype=object)

### Corrección de Hora y llenado de datos null

In [11]:
def to_hour(X):
    return X[11:13]

In [12]:
raw['FECHA']=pd.to_datetime(raw['FECHA'])
raw.pop('AÑO')
raw.pop('MES')
raw['HORA']=raw['HORA'].fillna(method='ffill') # LLenar el campo Null de HORA
temp=raw['HORA'].apply(to_hour)
raw.pop('HORA')
raw.insert(2,'HORA',temp)

raw['BARRIO']= raw['BARRIO'].fillna(value='No específico')
raw['ENTIDAD'] = raw['ENTIDAD'].fillna(value='No específica')
raw.head(5)

,FECHA,DÍA,HORA,GRAVEDAD,PEATON,AUTOMOVIL,CAMPAERO,CAMIONETA,MICRO,BUSETA,...,MOTO,BICICLETA,OTRO,VIA 1,BARRIO,ENTIDAD,nombrecomuna,Propietario de Vehículo,DIURNIO/NOCTURNO,HORA RESTRICCION MOTO
0,2012-01-01,07. Domingo,12,CON HERIDOS,0,1,0,0,0,0,...,0,0,0,CALLE,MUTIS,AGENTES DTB,17 Mutis,Particular,Diurno,No aplica
1,2012-01-01,07. Domingo,14,SOLO DAÑOS,0,1,0,1,0,0,...,0,0,0,VIA MATANZA,REGADEROS NORTE,AGENTES DTB,2 Nororiental,Empresa,Diurno,No aplica
2,2012-01-01,07. Domingo,12,SOLO DAÑOS,0,0,0,1,0,0,...,0,0,0,CARRERA,CABECERA DEL LLANO,AGENTES DTB,12 Cabecera del Llano,Particular,Diurno,No aplica
3,2012-01-01,07. Domingo,18,SOLO DAÑOS,0,1,0,1,0,0,...,0,0,0,CARRERA,NORTE BAJO,AGENTES DTB,3 San Francisco,Particular,Nocturno,No aplica
4,2012-01-01,07. Domingo,00,CON HERIDOS,1,0,0,0,0,0,...,1,0,0,CARRERA,DANGOND,AGENTES DTB,11 Sur Occidente,Particular,Nocturno,En restricción

### Se agrupa información en Categorías correlacionadas y renombran columnas
* Se agrupan categorías Micro y buseta
* Se agrupan categorías Campero y Camioneta
* Se renombran las columnas

In [13]:
raw['MICRO'] = raw['MICRO']+raw['BUSETA']
raw.pop('BUSETA')
raw = raw.rename(columns={'MICRO':'MICRO_BUSETA'})
raw['CAMPAERO'] = raw['CAMPAERO'] + raw['CAMIONETA']
raw.pop('CAMIONETA')
raw = raw.rename(columns={'MICRO':'MICRO_BUSETA','CAMPAERO': 'CAMPERO_CAMIONETA','nombrecomuna':'COMUNA', 'Propietario de Vehículo':'TIPO_PROPIETARIO', 'DIURNIO/NOCTURNO':'HORARIO'})
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34753 entries, 0 to 34752
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FECHA                  34753 non-null  datetime64[ns]
 1   DÍA                    34753 non-null  object
 2   HORA                   34753 non-null  object
 3   GRAVEDAD               34753 non-null  object
 4   PEATON                 34753 non-null  int64
 5   AUTOMOVIL              34753 non-null  int64
 6   CAMPERO_CAMIONETA      34753 non-null  int64
 7   MICRO_BUSETA           34753 non-null  int64
 8   BUS                    34753 non-null  int64
 9   CAMION                 34753 non-null  int64
 10  VOLQUETA               34753 non-null  int64
 11  MOTO                   34753 non-null  int64
 12  BICICLETA              34753 non-null  int64
 13  OTRO                   34753 non-null  int64
 14  VIA 1                  34753 non-null  object
 15  BARRIO                 34753 non-null  object
 16  ENTIDAD                34753 non-null  object
 17  COMUNA                 34753 non-null  object
 18  TIPO_PROPIETARIO       34753 non-null  object
 19  HORARIO                34753 non-null  object
 20  HORA RESTRICCION MOTO  34753 non-null  object
dtypes: datetime64[ns](1), int64(10), object(10)
memory usage: 5.6+ MB

In [14]:
df = raw
df.sample(5)

,FECHA,DÍA,HORA,GRAVEDAD,PEATON,AUTOMOVIL,CAMPERO_CAMIONETA,MICRO_BUSETA,BUS,CAMION,...,MOTO,BICICLETA,OTRO,VIA 1,BARRIO,ENTIDAD,COMUNA,TIPO_PROPIETARIO,HORARIO,HORA RESTRICCION MOTO
11775,2014-11-29,06. Sábado,11,SOLO DAÑOS,0,1,1,0,0,0,...,0,0,0,CARRERA,CABECERA DEL LLANO,AGENTES DTB,12 Cabecera del Llano,Particular,Diurno,No aplica
25791,2018-08-14,02. Martes,20,CON MUERTOS,1,0,0,0,0,0,...,1,0,0,AUTOPISTA NORTE,VIJAGUAL,AGENTES DTB,1 AGENTES DTB,Particular,Nocturno,Sin restricción
16994,2016-04-16,06. Sábado,11,SOLO DAÑOS,0,1,0,1,0,0,...,0,0,0,CALLE,BOLARQUI,AGENTES DTB,12 Cabecera del Llano,Particular,Diurno,No aplica
22743,2017-10-28,06. Sábado,13,SOLO DAÑOS,0,1,1,0,0,0,...,0,0,0,CARRERA,CABECERA DEL LLANO,AGENTES DTB,0 AGENTES DTB,Particular,Diurno,No aplica
11443,2014-10-27,01. Lunes,14,SOLO DAÑOS,0,0,1,0,0,1,...,0,0,0,CARRERA,CENTRO,AGENTES DTB,15 Centro,Particular,Diurno,No aplica

## Análisis preliminar de Datos

In [16]:
df['DÍA'].value_counts()/df['DÍA'].value_counts().sum()*100

06. Sábado       16.470521
05. Viernes      15.221707
02. Martes       14.813110
03. Miércoles    14.784335
04. Jueves       14.611688
01. Lunes        13.826145
07. Domingo      10.272494
Name: DÍA, dtype: float64

In [18]:
df['HORA'].value_counts()/df['HORA'].value_counts().sum()*100

12    7.607976
18    6.615256
14    6.534688
11    6.408080
15    6.324634
16    6.284350
17    6.057031
10    5.789428
19    5.536213
13    5.412482
08    5.268610
07    5.179409
09    5.104595
20    4.025552
06    3.683135
21    3.444307
22    2.506258
05    1.588352
23    1.361034
00    0.978333
02    0.972578
01    0.903519
04    0.825828
03    0.822951
      0.555348
.     0.210054
Name: HORA, dtype: float64

In [17]:
df['HORARIO'].value_counts()/df['HORARIO'].value_counts().sum()*100

Diurno      71.124795
Nocturno    28.875205
Name: HORARIO, dtype: float64

In [21]:
df_vehiculos = df[['PEATON','AUTOMOVIL','CAMPERO_CAMIONETA','MICRO_BUSETA','BUS','CAMION','VOLQUETA','MOTO','BICICLETA','OTRO']]
df_vehiculos

,PEATON,AUTOMOVIL,CAMPERO_CAMIONETA,MICRO_BUSETA,BUS,CAMION,VOLQUETA,MOTO,BICICLETA,OTRO
0,0,1,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0
3,0,1,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
34748,0,2,0,0,0,0,0,0,0,0
34749,1,0,0,0,0,0,0,1,0,0
34750,0,2,0,0,0,0,0,0,0,0
34751,0,0,0,0,0,0,0,2,0,0
34752,0,0,0,0,0,0,0,2,0,0

In [30]:
df_vehiculos.sum()/df_vehiculos.sum().sum()*100

PEATON                5.208289
AUTOMOVIL            39.371058
CAMPERO_CAMIONETA    12.870565
MICRO_BUSETA          3.276274
BUS                   2.451128
CAMION                4.201524
VOLQUETA              0.735052
MOTO                 30.008437
BICICLETA             0.842307
OTRO                  1.035365
dtype: float64